<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="DBConnection" connectionString="Data Source = localhost;Initial Catalog = mdr;User Id = sa;Password = bjdj;" providerName="using System.Data.SqlClient;"/>
    
  </connectionStrings>
  <appSettings>
    <clear/>
    <add key="1" value="first"/>
    <add key="2" value="second"/>
    <add key ="3" value="third"/>
  </appSettings>
  
  
</configuration>